[DEFAULT]
ignoreip = {{fail2ban_ignoreip}}
bantime  = {{fail2ban_bantime}}
findtime = {{fail2ban_findtime}}
maxretry = {{fail2ban_maxretry}}
backend  = {{fail2ban_backend}}
usedns   = {{fail2ban_usedns}}

{% if ansible_os_family == 'Debian' %}
destemail = {{fail2ban_destemail}}
banaction = {{fail2ban_banaction}}
mta       = {{fail2ban_mta}}
protocol  = {{fail2ban_protocol}}
chain     = {{fail2ban_chain}}
{% endif %}

{% for key, value in fail2ban_jails.iteritems() %}
[{{key}}]
enabled   = {{value.enabled}}
{% if value.port is defined %}
port      = {{value.port}}
{% endif %}
filter    = {{value.filter}}
logpath   = {{value.logpath}}
{% if value.maxretry is defined %}
maxretry  = {{value.maxretry}}
{% endif %}
{% if value.protocol is defined %}
protocol  = {{value.protocol}}
{% endif %}
{% if value.action is defined %}
action    = {{value.action}}
{% endif %}
{% if value.banaction is defined %}
banaction = {{value.banaction}}
{% endif %}

{% endfor %}

