# Managed by Ansible

[DEFAULT]
ignoreip = {{ fail2ban_ignoreip }}
bantime  = {{ fail2ban_bantime }}
findtime = {{ fail2ban_findtime }}
maxretry = {{ fail2ban_maxretry }}
backend  = {{ fail2ban_backend }}
usedns   = {{ fail2ban_usedns }}

{# Add a note in RedHat files #}
{% if ansible_os_family == 'RedHat' %}
# Debian provided action setup.
{% endif %}

destemail = {{ fail2ban_destemail }}
banaction = {{ fail2ban_banaction }}
mta       = {{ fail2ban_mta }}
protocol  = {{ fail2ban_protocol }}
chain     = {{ fail2ban_chain }}

{# Add Debian snippet to RedHat files #}
{% if ansible_os_family == 'RedHat' %}
#
# Action shortcuts. To be used to define action parameter

# The simplest action to take: ban only
action_ = %(banaction)s[name=%(__name__)s, port="%(port)s", protocol="%(protocol)s", chain="%(chain)s"]

# ban & send an e-mail with whois report to the destemail.
action_mw = %(banaction)s[name=%(__name__)s, port="%(port)s", protocol="%(protocol)s", chain="%(chain)s"]
              %(mta)s-whois[name=%(__name__)s, dest="%(destemail)s", protocol="%(protocol)s", chain="%(chain)s"]

# ban & send an e-mail with whois report and relevant log lines
# to the destemail.
action_mwl = %(banaction)s[name=%(__name__)s, port="%(port)s", protocol="%(protocol)s", chain="%(chain)s"]
               %(mta)s-whois-lines[name=%(__name__)s, dest="%(destemail)s", logpath=%(logpath)s, chain="%(chain)s"]

# Choose default action.  To change, just override value of 'action' with the
# interpolation to the chosen action shortcut (e.g.  action_mw, action_mwl, etc) in jail.local
# globally (section [DEFAULT]) or per specific section
action = %(action_)s
{% endif %}

